.register{
    height: calc(100vh - 80px);
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.7) 100%,
        ), url('../../assets/images/register_bg.jpg');
    background-size: cover;
    // color: wheat;
    // object-fit: cover;

    .registerTitle{
        font-size: 50px;
        color: rgb(187, 183, 183);
    }

    .registerForm{
        display: flex;
        flex-direction: column;

        label{
            margin: 7px 0px;
            color: rgb(255, 255, 255);
        }

        .registerInput{
            padding: 15px;
            background-color: white;
            border-radius: 10px;
            border: none;
            outline: none;
        }

        .registerButton{
            margin-top: 30px;
            padding:10px;
            // width: 50%;
            // align-self: flex-end;
            cursor: pointer;
            border: none;
            background-color: rgb(255, 251, 251);
            border-radius: 10px;
            background-color: rgb(255, 0, 157);
            font-size: 30px;
            font-weight: bold;
            // color: white;
        }
    }

    .registerLoginButton{
        position: absolute;
        top: 100px;
        right: 40px;

        // margin-top: 30px;
        padding: 15px;
        // width: 20%;
        // align-self: flex-end;
        background-color: rgb(255, 251, 251);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background-color: rgb(255, 0, 157);
        font-size: 18px;
        // font-weight: bold;
    }
}